[submodule "mono"]
	path = mono
	url = ../mono
[submodule "mono-basic"]
	path = mono-basic
	url = https://github.com/wine-mono/mono-basic
[submodule "FNA"]
	path = FNA
	url = https://github.com/wine-mono/FNA
[submodule "FNA.NetStub"]
	path = FNA.NetStub
	url = https://github.com/wine-mono/FNA.NetStub
[submodule "winforms"]
	path = winforms
	url = https://github.com/wine-mono/winforms
[submodule "winforms-datavisualization"]
	path = winforms-datavisualization
	url = https://github.com/wine-mono/winforms-datavisualization
[submodule "wpf"]
	path = wpf
	url = https://github.com/wine-mono/wpf
[submodule "monoDX"]
	path = monoDX
	url = https://github.com/wine-mono/monoDX
[submodule "vstests"]
	path = vstests
	url = https://github.com/wine-mono/wine-mono-vstests
[submodule "monolite"]
	path = monolite
	url = https://github.com/wine-mono/monolite-binaries.git
[submodule "mono-basic-compat"]
	path = mono-basic-compat
	url = https://github.com/wine-mono/mono-basic-compat.git
